<div class="row">
    <div class="col-md-12">
        <h2>Funktion</h2>
        Die Desktop / Mobile Ansicht zeigt alle gecrawlten und analysierten Elemente der als Standard definierten
        View an. Ist keine Standard View definiert, werden alle Elemente angezeigt. Die Standard View kann im
        Administrationsbereich unter <a ui-sref="manual.admin.view">Views</a> definiert werden.

        <h3>Suche</h3>
        <div class="row">
            <div class="col-md-10">
                Über die Textbox in der Navigationsbar können die angezeigt Elemente durchsucht werden. Zusätzlich
                gibts es vordefinierte Suchbegriffe, die in der Navigationsbar als Menüeinträge angezeigt werden.
            </div>
            <div class="col-md-2">
                <img src="imgs/search.png" class="img-thumbnail center-block">
            </div>
        </div>

        <h3>Bewertung</h3>
        <div class="row">
            <div class="col-md-10">
                Über die Auf- und Ab-Symbole, kann ein Element bewertet werden. Dies kann je nach Implementierung die
                Sortierung der Elemente beinflussen. Zusätzlich kann diese Bewertung als Feedback für die Analyzer
                herangezogen werden, um die analysen weiter zu optimieren.
            </div>
            <div class="col-md-2">
                <img src="imgs/rating.png" class="img-thumbnail center-block">
            </div>
        </div>

        <h3>Analyseergebnis</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="imgs/analyzerresult.png" class="img-thumbnail center-block">
            </div>
            <div class="col-md-8">
                Jedes Element zeigt das kummulierte Analyseergebnis in Form eines positiven/negativen
                Fortschrittsbalken an. Dabei wird ist der negative Fortschrittsbalken rot und verläuft von der mitte
                des Elements nach links. Ist das Element positiv analysiert worden so ist der Fortschrittsbalken
                grün und verläuft von der mitte nach rechts.
            </div>
        </div>

        <h3>Detailansicht</h3>
        Durch klicken der Überschrift oder des Vorschaubilds, öffnet sich die Detailansicht des Elements. Hier wird
        neben den Informationen aus der Übersicht und dem kompletten Inhalt, ebenfalls die satzweise Analyse des
        Elements je nach Analyzer angezeigt.
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <h3>Screenshots</h3>
    </div>

    <div class="col-md-4">
        <h4>Mobile</h4>
        <img src="imgs/mobile.png" class="img-thumbnail">
    </div>
    <div class="col-md-8">
        <h4>Desktop</h4>
        <img src="imgs/frontend.png" class="img-thumbnail">
    </div>

    <div class="col-md-12">
        <h3>Detailansicht</h3>
        <img src="imgs/frontenddetail.png" class="img-thumbnail">
    </div>
</div>