
### Java ###
*.class
*.jar
*.war
*.ear

### Node.js ###
npm-debug.log
node_modules
bower_components

### Python ###
*.pyc

### Intellij ###
.idea/
*.iml
modules.xml
*.ipr

### Generated Documentation ###
/Dokumentation/JavaDoc
/Dokumentation/JSDoc

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
