<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KI-NewsBoard Administration</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body ng-app="nwbadmin">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="menuCol = true" ng-click="menuCol = !menuCol">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="dashboard">KI-NewsBoard</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)" ng-show="user">
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-user"></i>
                    {{user.firstname + ", " + user.lastname}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="auth({logout: 'logout'})"><i class="fa fa-fw fa-power-off"></i> Abmelden</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse" uib-collapse="menuCol">
            <ul class="nav navbar-nav side-nav">
                <li ui-sref-active="active"><a ui-sref="dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li ui-sref-active="active"><a ui-sref="crawler"><i class="fa fa-fw fa-search"></i> Crawler</a>
                </li>
                <li ui-sref-active="active"><a ui-sref="analyzer"><i class="fa fa-fw fa-bar-chart-o"></i> Analyzer</a>
                </li>
                <li ui-sref-active="active"><a ui-sref="groups"><i class="fa fa-fw fa-users"></i> Gruppen</a></li>
                <li ui-sref-active="active"><a ui-sref="views"><i class="fa fa-fw fa-columns"></i> Views</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">

            <div uib-alert ng-repeat="alert in alerts" class="alert-danger" close="closeAlert($index)">{{alert.message}}</div>

            <ui-view></ui-view>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.auth.js"></script>
<script src="js/controller.dashboard.js"></script>
<script src="js/controller.crawler.js"></script>
<script src="js/controller.analyzer.js"></script>
<script src="js/controller.groups.js"></script>
<script src="js/controller.views.js"></script>
<script src="js/interceptor.auth.js"></script>
<script src="js/interceptor.error.js"></script>
<script src="js/service.dashboard.js"></script>
<script src="js/service.crawler.js"></script>
<script src="js/service.analyzer.js"></script>
<script src="js/service.group.js"></script>
<script src="js/service.token.js"></script>
<script src="js/service.views.js"></script>
<script src="js/service.auth.js"></script>

</body>

</html>
