<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">Bezeichnung</label>
            <input type="text" id="name" class="form-control" placeholder="Bezeichnung" ng-model="view.name">
        </div>
        <div class="form-group">
            <label for="desc">Beschreibung</label>
            <textarea type="text" id="desc" class="form-control" placeholder="Beschreibung"
                      ng-model="view.description"></textarea>
        </div>
        <h3>Zuordnungen</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <label>Gruppen</label>
        <table class="table table-hover">
            <thead>
            <th>#</th>
            <th>Bezeichnung</th>
            </thead>
            <tr ng-repeat="group in groups" ng-click="toggle(view.groups, group.id)"
                ng-class="{info: view.groups.indexOf(group.id) > -1}">
                <td>{{group.id}}</td>
                <td>{{group.name}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <label>Crawler</label>
        <table class="table table-hover">
            <thead>
            <th>#</th>
            <th>Bezeichnung</th>
            <tr ng-repeat="crawler in crawlers" ng-click="toggle(view.crawlers, crawler.id)"
                ng-class="{info: view.crawlers.indexOf(crawler.id) > -1}">
                <td>{{crawler.id}}</td>
                <td>{{crawler.name}}</td>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button type="button" class="btn btn-primary pull-right" style="margin: 0px 5px;" ng-click="save()">
                Speichern
            </button>
            <button type="button" class="btn btn-warning pull-right" style="margin: 0px 5px;" ng-click="cancel()">
                Abbrechen
            </button>
        </div>
    </div>
</div>