<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-success" ng-click="create()">Neue View</button>
        <table class="table table-hover">
            <thead>
            <th style="width: 50px">#</th>
            <th>Bezeichnung</th>
            <th style="width: 140px">Altionen</th>
            </thead>
            <tr ng-repeat="view in views" ng-click="select(view)" ng-class="{active: view == active}">
                <td>{{view.id}}</td>
                <td>
                    <b>{{view.name}}</b>
                    <br>{{view.description}}
                </td>
                <td>
                    <a href="../?view={{view.id}}" target="_blank"><i class="fa fa-fw fa-external-link"></i></a> |
                    <a href="../public/{{view.id}}" target="_blank"><i class="fa fa-fw fa-tv"></i></a> |
                    <a href ng-click="edit(view)"><i class="fa fa-fw fa-edit"></i></a> |
                    <a href ng-click="delete(view)"><i class="fa fa-fw fa-trash-o"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>