<div class="row">
    <h3>Analyzer Liste</h3>

    Die Analyzer Unterseite beinhaltet eine Liste mit angelegten Analyzern, deren ID, Bezeichnung und
    Status (aktiv oder inaktiv)

    <img src="imgs/admin/analyzer-list.png" class="img-thumbnail center-block docu-img">

    <h3>Neue Analyzer anlegen</h3>

    Bei dem Anlegen neuer Analyzer können einige Einstellungen gesetzt werden:</br>
    </br>
    <ul>
        <li><b>Bezeichnung:</b> Name des Analyzer</li>
        <li><b>Token:</b> wird automatisch generiert</li>
        <li><b>Status:</b> ein Analyzer kann aktiv oder inaktiv gesetzt werden</li>
        <li><b>Gruppen:</b> ein Analyzer kann einer oder mehreren Gruppen zugeordnet werden, die Gruppen werden
            dann wiederum den Views zugeordnet</li>
    </ul>

    <img src="imgs/admin/analyzer-new.png" class="img-thumbnail center-block docu-img">
</div>