<ul class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref="manual.admin.login">Login</a></li>
    <li ui-sref-active="active"><a ui-sref="manual.admin.dashboard">Dashboard</a></li>
    <li ui-sref-active="active"><a ui-sref="manual.admin.crawler">Crawler</a></li>
    <li ui-sref-active="active"><a ui-sref="manual.admin.analyzer">Analyzer</a></li>
    <li ui-sref-active="active"><a ui-sref="manual.admin.group">Gruppen</a></li>
    <li ui-sref-active="active"><a ui-sref="manual.admin.view">Views</a></li>
</ul>
<ui-view></ui-view>