<div class="row">
    <h3>View Liste</h3>

    Die View Unterseite beinhaltet eine Liste mit angelegten Views. Auf der rechten Seite sind
    Buttons für das Anzeigen in Web/Mobile und in der öffentlichen Ansicht, sowie bearbeiten
    und löschen der ausgewählten View vorhanden.


    <img src="imgs/admin/view-list.png" class="img-thumbnail center-block docu-img">


    <h3>Neue View anlegen</h3>

    Bei dem Anlegen einer neuen View können einige Einstellungen gesetzt werden:</br>
    </br>
    <ul>
        <li><b>Bezeichnung:</b> Name des View</li>
        <li><b>Beschreibung:</b> Beschreibung der View</li>
        <li><b>Gruppe:</b> Gruppen denen die View angehört</li>
        <li><b>Crawler:</b> Crawler aus denen die View Nachrichteneinträge bezieht</li>
    </ul>

    <img src="imgs/admin/view-edit.png" class="img-thumbnail center-block docu-img">
</div>