<div class="modal-body" id="modal-body">
    <div class="image">
        <img nwb-src="{{entry.image}}">
    </div>
    <h2>{{entry.title}}</h2>
    <select ng-options="result.analyzer.name for result in entry.analyzerResults"
            ng-model="selectedResult"
            ng-change="updateText()"></select>
    <div class="date">
        {{entry.source}} @ {{entry.date | date:'dd.MM.yyyy HH:mm'}}
    </div>
    Link: <a href="{{entry.url}}">{{entry.url}}</a>
    <p ng-bind-html="colored"></p>

</div>
<div class="modal-footer">

</div>