<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="colapsed = false" ng-click="colapsed = !colapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="frontend">KI - News Board</a>
        </div>

        <div class="collapse navbar-collapse" uib-collapse="colapsed">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="frontend({keyword: 'minden'})">Minden</a></li>
                <li ui-sref-active="active"><a ui-sref="frontend({keyword: 'test'})">Test</a></li>
                <li ui-sref-active="active"><a ui-sref="frontend({keyword: 'polizei'})">Polizei</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Suchen..."
                               ng-model="keyword" ng-keyup="$event.keyCode == 13 ? search() : null">
                        <div class="input-group-btn">
                            <div class="btn-group" style="height: 100%">
                                <button class="btn" type="button" ng-click="search()" style="height: 100%">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</nav>
<div class="container-fluid" style="margin-top: 70px;">
    <div class="row">
        <div ng-repeat="entry in entries">
            <div class="col-md-4 col-sm-6 card-container">
                <div class="card" ng-controller="ModalDemoCtrl as $ctrl" ng-click="$ctrl.open('lg', entry)">
                    <div class="image">
                        <img nwb-src="{{entry.image}}">
                        <div class="image-overlay">
                            <div class="date">
                                {{entry.source}} @ {{entry.date | date:'dd.MM.yyyy HH:mm'}}
                            </div>
                            <h4>{{entry.title}}</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 progress-container">
                            <uib-progressbar class="progress-rtl"
                                             value="entry.analyzerResult > 0 ? 0 :entry.analyzerResult * -1"
                                             type="danger"></uib-progressbar>

                        </div>
                        <div class="col-xs-6 progress-container">
                            <uib-progressbar
                                    value="entry.analyzerResult < 0 ? 0 :entry.analyzerResult"
                                    type="success"></uib-progressbar>
                        </div>
                    </div>
                    <div class="row content">
                        <div class="col-xs-10">
                            <p>{{ entry.content }}</p>
                        </div>
                        <div class="col-xs-2 text-center rating" ng-class="{voted: isRated(entry)}">
                            <i ng-click="rate(entry, true)" class="fa fa-angle-up" style="font-size:36px"
                               ng-class="{isRate: isCurrentVote(entry, true)}"></i>
                            <h3>{{entry.rating}}</h3>
                            <i ng-click="rate(entry, false)" class="fa fa-angle-down" style="font-size:36px"
                               ng-class="{isRate: isCurrentVote(entry, false)}"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="moreEntries">
        <div class="col-xs-12 text-center" in-view="$inview&&loadMoreNews()">
            <i class="fa fa-circle-o-notch fa-spin fa-fw fa-4x" style="margin: 20px; color: darkgrey;"></i>
        </div>
    </div>
</div>

<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-body" id="modal-body">
            <div class="image">
                <img ng-src="{{$ctrl.entry.image}}" style="float: right;margin: 10px">
                <h2>{{$ctrl.entry.title}}</h2>
                <div class="date">
                    {{$ctrl.entry.source}} @ {{$ctrl.entry.date | date:'dd.MM.yyyy HH:mm'}}
                </div>
                <p>{{$ctrl.entry.content}}</p>
            </div>
        </div>
        <div class="modal-footer">
            <!--
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
            -->
        </div>
    </script>
</div>