<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">KI - News Board</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="frontend({viewId: 1})">Web View</a></li>
                <li ui-sref-active="active"><a ui-sref="public({viewId: 1})">Public View 1</a></li>
                <li ui-sref-active="active"><a ui-sref="public({viewId: 2})">Public View 2</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">

                    <input type="text" ng-model="keyword" ng-keyup="$event.keyCode == 13 ? updateView() : null"
                           placeholder="Schlagwort"
                           id="popover-trigger" class="ng-popover-trigger">
                    </input>

                </div>
                <button type="submit" class="btn btn-default" ng-click="updateView()"><span
                        class="glyphicon glyphicon-search"></span></button>
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <div ng-repeat="entry in entries">
        <div class="col-md-4 col-sm-6 card-container">
            <div class="card">
                <!--a href="{{entry.url}}"-->
                <div class="image">
                    <img ng-src="{{entry.image}}">
                    <div class="image-overlay">
                        <div class="date">
                            {{entry.source}} @ {{entry.date | date:'dd.MM.yyyy HH:mm'}}
                        </div>
                        <h4>{{entry.title}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 progress-container">
                        <uib-progressbar class="progress-rtl"
                                         value="entry.analyzerResult > 0 ? 0 :entry.analyzerResult * -1"
                                         type="danger"></uib-progressbar>

                    </div>
                    <div class="col-xs-6 progress-container">
                        <uib-progressbar
                                value="entry.analyzerResult < 0 ? 0 :entry.analyzerResult"
                                type="success"></uib-progressbar>
                    </div>
                </div>
                <div class="row content">
                    <div class="col-xs-10">
                        <p>{{ entry.content }}</p>
                    </div>
                    <div class="col-xs-2 text-center rating" ng-class="{voted: isRated(entry)}">
                        <i ng-click="rate(entry, true)" class="fa fa-angle-up" style="font-size:36px"
                           ng-class="{isRate: isCurrentVote(entry, true)}"></i>
                        <h3>{{entry.rating}}</h3>
                        <i ng-click="rate(entry, false)" class="fa fa-angle-down" style="font-size:36px"
                           ng-class="{isRate: isCurrentVote(entry, false)}"></i>
                    </div>
                </div>
                <!--/a-->
            </div>
        </div>
    </div>
</div>

<ng-popover trigger="popover-trigger" popover-class="searchPopover" on-open="openCallback()"
            on-close="closeCallback()">
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 1</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 2</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 3</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 4</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Option 5</label>
    </div>

</ng-popover>